<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add Link</title>
</head>
<body>

    <div class="container">

        <h1>Todos os links</h1>
        <a href="/">adicionar link</a> <!-- '/' é a rota -->

        <!-- como no backend foi usado links, aqui precisa ter o mesmo nome -->
        <!-- o formulário não aceita método delete, usamos o method-override para isso ser possivel-->
        <% for(let i = 0; i < links.length; i++) {%> 
                <div id="<%=links[i]._id%>">
                    <form method="POST" action="/<%=links[i]._id%>?_method=DELETE">
                        <h2><%=links[i].title%></h2>
                        <div><%=links[i].description%></div>
                        <div><%=links[i].url%></div>
                        <button>deletar</button>
                        <!-- link para ir para página de edição -->
                        <a href="/edit/<%=links[i]._id%>">editar</a>
                    </form>
                </div>
        <% } %> 
    </div>  


</body>
</html>