<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add Link</title>
</head>
<body>

    <div class="container">

        <h1>Todos os links</h1>
        <a href="/">adicionar link</a> <!-- '/' é a rota -->

        <!-- como no backend foi usado links, aqui precisa ter o mesmo nome -->

        <% for(let i = 0; i < links.length; i++) {%> 
            <div id="<%=links[i]._id%>">
                <h2><%=links[i].title%></h2>
                <div><%=links[i].description%></div>
                <div><%=links[i].url%></div>
                <button onclick="deleteLink('<%=links[i]._id%>')">delete</button>
            </div>
        <% } %> 
    </div>  

    <script>
        // foi passado o id com aspas simples
        // '/' + id, foi usado para fazer o fetch na rota delete que vai ter o express.json
        function deleteLink(id) {

            fetch("/" + id, { method: "DELETE" }).then(res => {
                // se a resposta for bem sucedida vai remover o documento
                // o id é mandado como resposta
                if (res.status == 200) {
                    res.text().then(linkId => document.getElementById(linkId).remove())
                } else {
                    // caso aconteça um erro vai aparecer o alert
                    res.json().then(error => alert(error.message)
                    )
                }
            })
        }

         /* foi colocado no onclick o id do documento como argumento da função deleteLink
         o fetch pode mandar como resposta varias coisas, no controller vamos mandar o id como resposta
         */
    </script>

</body>
</html>